html {
    background-image: url('../../assets/image/background.png');
}

body {
    margin: 0;
}

.main {
    background: #F9FAFF;
    width: 20rem;
    height: 39.25rem;
    margin-top: 4.5rem;
    border-radius: 24px 24px 0px 0px;
}

.main-title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #202225;

    padding-top: 2.3rem;
    padding-left: 2rem;
}

.main-form {
    margin-top: 1.7rem;
    margin-left: 2rem;
}

.main-form__input {
    font-family: Poppins, sans-serif;
    background-image: url('../../assets/svg/user-icon.svg');
    background-repeat: no-repeat;
    background-position: 7% 50%;
    border-radius: 8px;
    border: 1px solid #DCE0EC;
    width: 12.8rem;
    height: 2.3rem;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;

    color: #A1ABC9;
    padding-left: 2.95rem;
}

.main-form__input-last-name,
.main-form__input-email,
.main-form__input-password,
.main-form__input-password-check{
    margin-top: 1.45rem;
}

.main-form__input-email {
    background-image: url('../../assets/svg/mail-icon.svg');
}

.main-form__input-password {
    background-image: url('../../assets/svg/password-icon.svg');
    background-position: 8% 50%;
}

.main-form__container {
    position: relative;
}

.main-form__container__icon-password {
    position: absolute;
    top: 50%;
    right: 17%;
}

.main-form__input-password-check {
    background-image: url('../../assets/svg/check-icon.svg');
    background-position: 8% 50%;
}

.main-form__container-button-submit {
    position: relative;
    margin-top: 2rem;
}

.main-form__button-submit {
    position: relative;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;

    padding: 0.90625rem 3rem 0.90625rem 1rem;
    color: #FFFFFF;
    background: #7297FF;
    border-radius: 8px;
    border: none;
}

.main-form__container-button-arrow-icon {
    position: absolute;
    top: 34%;
    right: 19%;
}

.footer-title {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140%;
    color: #A1ABC9;

    margin-top: 4.5rem;
    margin-left: 2rem;
    margin-bottom: 0.3rem;
}

.footer-sign {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    text-decoration-line: underline;

    color: #7297FF;
    margin-top: 0;
    margin-left: 2rem;
}